<div class="col-md-4 offset-md-2">
  <div class="card">
    <div class="card-body">
      <form action="">
        <div class="form-group">
          <input type="text" name="title" [(ngModel)]="moto.title" placeholder="Title" class="form-control" autofocus>
        </div>
        <div class="form-group">
          <textarea name="description" [(ngModel)]="moto.description" rows="2" placeholder="Description" class="form-control"></textarea>
        </div>
        <div class="form-group">
          <input type="url" name="image URL" [(ngModel)]="moto.image" placeholder="Image" class="form-control">
        </div>
        <button class="btn btn-success btn-block" (click)="edit ? updateMoto() : saveNewMoto()">
          GUARDAR CAMBIOS
        </button>
      </form>
    </div>
  </div>
</div>

<div class="col-md-4">
  <div class="card card-body text-center">
  <img [src]="moto.image == '' ? '/assets/noimage.png' : moto.image" alt="No Image" class="card-img-top">
    <h3>{{moto.id}}. {{moto.title == '' ? 'MARCA' : moto.title}}</h3>
    <p>{{moto.description == '' ? 'DESCRPCION DEL PRODUCTO' : moto.description}}</p>
    <p>{{moto.created_at | date: 'yyyy-MM-dd'}}</p>
  </div>
</div>